<div class="header">
  {{ navbar }}

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="slogan">
          <div class="row">
            <div class="col-xs-12 text-align-center">
              <h1>{{ slogan }}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-align-center">
              <p class="slogan-2">{{ slogan_2 }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-align-center">
              {{ get_started }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{ page.system_messages_block }}
      </div>
    </div>

    {{ page.wizard }}

    <div class="row">
      <div class="col-xs-12 text-align-center">
        {{ get_started }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="social-media-icons">
          <div class="row">
            <div class="col-md-6 col-md-push-3">
              {{ page.social_media_icons }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="recent-comments">
          <h2>{{ 'Recent comments'|t }}</h2>
          <script type="text/javascript" src="https://dockerizedrupal.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&excerpt_length=300"></script>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="logos text-align-center">
      {{ page.logos }}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="legal text-align-center">
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
              {{ page.legal }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
